<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="/css/insertMember.css">
<script src="/js/insertMember.js"></script>
</head>
<body>
<div class="container">
	<h1>회원가입</h1>
	<form action="insertMember" method="post" name="insertMemberForm">
		<table>
			<tr>
				<th width="20%">아이디</th>
				<td width="80%">					
					<input type="text" name="id" class="id" th:if="${session.inId != 'notId'}" th:value="${session.inId}">
					<input type="text" name="id" class="id" th:if="${session.inId == 'notId'}">
					<input type="button" value="아이디 중복 체크" id="btn_id_check"><br>
					<div class="ss s1" th:if="${session.inId != 'notId'}">사용할 수 있는 아이디입니다.</div>
					<div class="ss s2" th:if="${session.inId == 'notId'}">사용할 수 없는 아이디입니다.</div>
				</td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input type="password" name="password" class="password"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" name="name" class="name"></td>
			</tr>
			<tr>
				<th>이메일</th>
				<td><input type="text" name="email" class="email"></td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td><input type="text" name="tel" class="tel"></td>
			</tr>
			<tr>
				<th>주소</th>
				<td><input type="text" name="address" class="address"></td>
			</tr>
		</table>
		<div class="btns">
			<input type="submit" value="가입">
			<input type="reset" value="취소">
			<input type="button" value="돌아가기" id="btn_back">
		</div>
	</form>
</div>
</body>
</html>